:root {
  --primary-text-color: #212121;
  --secondory-text-color: #757575;
  --text-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --top-line-bg-color: #ececec;
  --footer-bg-color: #2f303a;
}

.page {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
